
Privacy Settings Whitelist - Apple/.DS_Store
Privacy Settings Whitelist - Apple/Unsigned/.DS_Store
Privacy Settings Whitelist - Jamf/.DS_Store
Privacy Settings Whitelist - Jamf/Unsigned/.DS_Store
Privacy Settings Whitelist - McAfee/.DS_Store
.DS_Store
